{% load static %}
<section class="about">
    <div class="titles">
      <h1>ABOUT <span>ME</span></h1>
      <h3>Allow me to introduce my self </h3>
    </div>
    <div class="about_coutext">
      <div class="about_me">
        Hello ,I'm abdalah nait .web Developer from Morocco.
        I have rich experience in web site design and building ,
        also I am good at Django and angular. I love to talk with
        you about our unique.
      </div>
      <div class="about_me_element">
        <div id="1">
          <p><span>Age:</span> 20</p>
          <p><span>Freelanse:</span> Available</p>
          <p><span>Phone:</span> +212 659 555 699</p>
        </div>
        <div id="2">
          <p><span>Residence:</span> Morocco</p>
          <p><span>Adress:</span> Fes,Morocco</p>
          <p><span>E-mail:</span> naitabdallah.abdallah@gmail.com</p>
        </div>
      </div>

    </div>
</section>
