{% load static %}
<section id='main'>
  <!--name-->
  <div class="name">
      <!--Hello-->
      <div class="content">
        <p>Hello</p>
        <!--name-->
        <h1>I'm <font color ="#17b1ac">nait</font> abdallah</h1>
        <!--Details-->
        <p class="detail">
          This is Nait Abdallah Web Developer and Creative Director<br>
          located in Morocco , Looking for working arround the globe.
        </p>
      </div>
      <br><br><br>
      <!--Cv-button-->
      <div class="btn">
        <a href="#" class="Hire-btn"> Hire me </a>
        <a href="#" class="cv-btn">Download Cv</a>
      </div>

  </div>

</section>
