{% load static%}
<section>
  <div class="web">
    <div class="web-title">

    </div>
    <div class="web-content">

    </div>
    <div class="web-btn">

    </div>
  </div>
  <div class="desktop">
    <div class="desktop-title">

    </div>
    <div class="desktop-content">

    </div>
    <div class="desktop-btn">

    </div>
  </div>
  <div class="mobile">
    <div class="mobile-title">

    </div>
    <div class="mobile-content">

    </div>
    <div class="mobile-btn">

    </div>
  </div>
</section>
